## Session 1 - Pandas

__________________________________________________________________________

Ex. 1 : Load the dataset into a Pandas DataFrame and display the first 5 rows.

See how to use **read_csv** and **head** methods with pandas.

In [2]:
import pandas as pd

# Load the dataset into a DataFrame
data = pd.read_csv("data.csv")

# Display the first 5 rows
print(data.head(5))

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

The output should look like :

In [ ]:
#          Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
#       0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
#       1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
#       2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
#       3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
#       4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
#
#            Customer Name    Segment        Country             City  ...  \
#       0      Claire Gute   Consumer  United States        Henderson  ...
#       1      Claire Gute   Consumer  United States        Henderson  ...
#       2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
#       3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
#       4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
#
#         Postal Code  Region       Product ID         Category Sub-Category  \
#       0       42420   South  FUR-BO-10001798        Furniture    Bookcases
#       1       42420   South  FUR-CH-10000454        Furniture       Chairs
#       2       90036    West  OFF-LA-10000240  Office Supplies       Labels
#       3       33311   South  FUR-TA-10000577        Furniture       Tables
#       4       33311   South  OFF-ST-10000760  Office Supplies      Storage
#
#                                               Product Name     Sales  Quantity  \
#       0                  Bush Somerset Collection Bookcase  261.9600         2
#       1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
#       2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
#       3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
#       4                     Eldon Fold 'N Roll Cart System   22.3680         2

#          Discount    Profit
#       0      0.00   41.9136
#       1      0.00  219.5820
#       2      0.00    6.8714
#       3      0.45 -383.0310
#       4      0.20    2.5164
#
#       [5 rows x 21 columns]

__________________________________________________________________________

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         999 non-null    int64
 1   Order ID       999 non-null    object
 2   Order Date     999 non-null    object
 3   Ship Date      999 non-null    object
 4   Ship Mode      999 non-null    object
 5   Customer ID    999 non-null    object
 6   Customer Name  999 non-null    object
 7   Segment        999 non-null    object
 8   Country        999 non-null    object
 9   City           999 non-null    object
 10  State          999 non-null    object
 11  Postal Code    999 non-null    int64
 12  Region         999 non-null    object
 13  Product ID     999 non-null    object
 14  Category       999 non-null    object
 15  Sub-Category   999 non-null    object
 16  Product Name   999 non-null    object
 17  Sales          999 non-null    float64
 18  Quantity       999 non-null    int64
 19  Discount       999 non-null    float64
 20  Profit         999 non-null    float64
dtypes: float64(3), int64(3), object(15)
memory usage: 164.0+ KB

Ex. 2 : Calculate the total sales and total profit for the dataset.

You can still access the **data** variable you created in the exercise one, and should use it for this exercise.  
See how to access **keys** in the **data** variable (just like dictionaries) and to use the **sum** methods with pandas.

In [6]:
# Calculate the total sales
total_sales = data['Sales'].sum()

# Calculate the total profit
total_profit = data['Profit'].sum()

# Print the results
print(f"Total Sales: {total_sales}")
print(f"Total Profit: {total_profit}")

Total Sales: 241097.6579
Total Profit: 18733.266300000003

The expected output is :  
  
Total Sales : 241097.6579  
Total Profit : 18733.266300000003

__________________________________________________________________________

Ex. 3 : Create a Series from a list of numbers and calculate the sum of the values.

See how to use **Series** and **sum** methods with pandas.

In [9]:


# Create a Series from a list of numbers
data_serie = pd.Series(data['Sales'])

# Calculate the sum of the values
sum_serie = data_serie.sum()

# Print the result
print(data_serie)
print(f"Sum: {sum_serie}")

0       261.9600
1       731.9400
2        14.6200
3       957.5775
4        22.3680
         ...
994    2715.9300
995     617.9700
996      10.6700
997      36.6300
998      24.1000
Name: Sales, Length: 999, dtype: float64
Sum: 241097.6579

The output is expected like so :  
  
Sum : 15

__________________________________________________________________________

Ex. 4 : Create a DataFrame from a dictionary of lists and select the "Name" and "City" columns.

See how to use the **DataFrame** method with pandas.

In [34]:
# Create a DataFrame from a dictionary of lists
data_new = {'Name':['John', 'Anna', 'Peter', 'Mary'], 'City':['New york', 'London', 'Paris', 'Berlin']}
df_data = pd.DataFrame(data_new)

# Select the "Name" and "City" columns
selected_data = df_data[['Name','City']]

# Print the selected data
print(selected_data)

    Name      City
0   John  New york
1   Anna    London
2  Peter     Paris
3   Mary    Berlin

The output is expected like so :

In [ ]:
#       Name      City
#   0   John  New York
#   1   Anna    London
#   2  Peter     Paris
#   3   Mary    Berlin

__________________________________________________________________________

Ex. 5 : Create a DataFrame from the "data.csv" file and sort the data by the "Profit" column in descending order.

See how to use **read_csv** and **sort_values** methods with pandas.

In [39]:
# Create a DataFrame from a CSV file
data = pd.read_csv('data.csv')

# Sort the data by the "Profit" column in descending order
sorted_data = data.sort_values('Profit', ascending = False)

# Print the sorted data
print(sorted_data)

     Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
509     510  CA-2015-145352  3/16/2015  3/22/2015  Standard Class    CM-12385
318     319  CA-2014-164973  11/4/2014  11/9/2014  Standard Class    NM-18445
353     354  CA-2016-129714   9/1/2016   9/3/2016     First Class    AB-10060
515     516  CA-2017-127432  1/22/2017  1/27/2017  Standard Class    AD-10180
994     995  CA-2014-117639  5/21/2014  5/25/2014  Standard Class    MW-18235
..      ...             ...        ...        ...             ...         ...
463     464  CA-2016-109869  4/22/2016  4/29/2016  Standard Class    TN-21040
215     216  CA-2015-146262   1/2/2015   1/9/2015  Standard Class    VW-21775
165     166  CA-2014-139892   9/8/2014  9/12/2014  Standard Class    BM-11140
27       28  US-2015-150630  9/17/2015  9/21/2015  Standard Class    TB-21520
683     684  US-2017-168116  11/4/2017  11/4/2017        Same Day    GT-14635

            Customer Name      Segment        Country            City  ...  \
509  Christopher Martinez     Consumer  United States         Atlanta  ...
318          Nathan Mautz  Home Office  United States   New York City  ...
353       Adam Bellavance  Home Office  United States   New York City  ...
515        Alan Dominguez  Home Office  United States     Great Falls  ...
994      Mitch Willingham    Corporate  United States  Virginia Beach  ...
..                    ...          ...            ...             ...  ...
463         Tanja Norvell  Home Office  United States         Phoenix  ...
215       Victoria Wilson    Corporate  United States          Medina  ...
165          Becky Martin     Consumer  United States     San Antonio  ...
27        Tracy Blumstein     Consumer  United States    Philadelphia  ...
683        Grant Thornton    Corporate  United States      Burlington  ...

    Postal Code   Region       Product ID         Category Sub-Category  \
509       30318    South  OFF-BI-10003527  Office Supplies      Binders
318       10024     East  TEC-MA-10002927       Technology     Machines
353       10009     East  OFF-BI-10004995  Office Supplies      Binders
515       59405     West  TEC-CO-10003236       Technology      Copiers
994       23464    South  OFF-BI-10003925  Office Supplies      Binders
..          ...      ...              ...              ...          ...
463       85023     West  FUR-TA-10001889        Furniture       Tables
215       44256     East  TEC-MA-10000864       Technology     Machines
165       78207  Central  TEC-MA-10000822       Technology     Machines
27        19140     East  FUR-BO-10004834        Furniture    Bookcases
683       27217    South  TEC-MA-10004125       Technology     Machines

                                          Product Name     Sales  Quantity  \
509  Fellowes PB500 Electric Punch Plastic Comb Bin...  6354.950         5
318  Canon imageCLASS MF7460 Monochrome Digital Las...  3991.980         2
353          GBC DocuBind P400 Electric Binding System  4355.168         4
515                      Canon Image Class D660 Copier  2999.950         5
994        Fellowes PB300 Plastic Comb Binding Machine  2715.930         7
..                                                 ...       ...       ...
463  Bush Advantage Collection Racetrack Conference...  1272.630         6
215                 Cisco 9971 IP Video Phone Charcoal  1188.000         9
165          Lexmark MX611dhe Monochrome Laser Printer  8159.952         8
27   Riverside Palais Royal Lawyers Bookcase, Royal...  3083.430         7
683          Cubify CubeX 3D Printer Triple Head Print  7999.980         4

     Discount     Profit
509       0.0  3177.4750
318       0.0  1995.9900
353       0.2  1415.4296
515       0.0  1379.9770
994       0.0  1276.4871
..        ...        ...
463       0.5  -814.4832
215       0.7  -950.4000
165       0.4 -1359.9920
27        0.5 -1665.0522
683       0.5 -3839.9904

[999 rows x 21 columns]

The end of the output might look like :

In [ ]:
#            Discount     Profit
#       509       0.0  3177.4750
#       318       0.0  1995.9900
#       353       0.2  1415.4296
#       515       0.0  1379.9770
#       994       0.0  1276.4871
#       ..        ...        ...
#       463       0.5  -814.4832
#       215       0.7  -950.4000
#       165       0.4 -1359.9920
#       27        0.5 -1665.0522
#       683       0.5 -3839.9904

__________________________________________________________________________

Ex. 6 : Create a DataFrame from a dictionary of lists and calculate the correlation between the "Age" and "Salary" columns.

See how to use **DataFrame** and **corr** methods with pandas.

In [46]:
# Create a DataFrame from a dictionary of lists
data = pd.DataFrame({'Name': ['John', 'Anna', 'Peter', 'Mary'],
                     'Age': [28, 35, 42, 22],
                     'Salary': [50000, 60000, 75000, 45000]})
#df = data[['Age', 'Salary']]

# Calculate the correlation between the "Age" and "Salary" columns
correlation = data[['Age', 'Salary']].corr()

# Print the result
print(f"Correlation: {correlation}")

Correlation:              Age    Salary
Age     1.000000  0.982527
Salary  0.982527  1.000000

The output should look like :
  
Correlation: 0.9825265058295152